<body>
<!--header area start-->
    <header class="header_area">
        <!--header top start-->
        <div class="header_top top_two">
            <div class="container">   
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-6">
                        <div class="welcome_text">
                            <p>England's Fastest Online Shopping Destination</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="top_right text-end">
                            <ul>
                               <li class="top_links"><a href="#">My Account <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="wishlist#">My Wish List </a></li>
                                        <li><a href="my-account#">My Account </a></li>
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="#">Compare Products  </a></li>
                                    </ul>
                                </li> 
                                <li class="currency"><a href="#">USD <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">EUR</a></li>
                                        <li><a href="#">BRL</a></li>
                                    </ul>
                                </li>
                                <li class="language"><a href="#"><img src="assets/img/logo/language.png" alt=""> English <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="#"><img src="assets/img/logo/cigar.jpg" alt=""> French</a></li>
                                        <li><a href="#"><img src="assets/img/logo/language2.png" alt="">German</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->
        
        <!--header middel start-->
        <div class="header_middel middel_two">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="logo">
                            <a href="index#"><img src="assets/img/logo/logo2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-5">
                        <div class="search_bar">
                            <form action="#">
                                <input placeholder="Search entire store here..." type="text">
                                <button type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="cart_area">
                            <div class="wishlist_link">
                                <a href="#"><i class="ion-ios-heart-outline"></i></a>
                            </div>
                            <div class="cart_link">
                                <a href="javascript:void(0)"><i class="ion-ios-cart-outline"></i>My Cart</a>
                                <span class="cart_count">2</span>
                                <!--mini cart-->
                                 <div class="mini_cart">
                                    <div class="items_nunber">
                                        <span>2 Items in Cart</span>
                                    </div>
                                    <div class="cart_button checkout">
                                        <a href="checkout#">Proceed to Checkout</a>
                                    </div>
                                    <div class="cart_item">
                                       <div class="cart_img">
                                           <a href="#"><img src="assets/img/cart/cart1.jpg" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="#">Mr.Coffee 12-Cup</a>
                                            <form action="#">
                                                <input min="0" max="100" type="number">
                                                <span>$60.00</span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="cart_item">
                                       <div class="cart_img">
                                           <a href="#"><img src="assets/img/cart/cart2.jpg" alt=""></a>
                                       </div>
                                        <div class="cart_info">
                                            <a href="#">Lid Cover Cookware</a>
                                            <form action="#">
                                                <input min="0" max="100" type="number">
                                                <span>$160.00</span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="cart_button view_cart">
                                        <a href="#">View and Edit Cart</a>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        
        <!--header bottom satrt-->
        <div class="header_bottom bottom_two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <div class="categories_menu">
                            <div class="categories_title">
                                <h2 class="categori_toggle">Welcome</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 position-relative">
                        <div class="main_menu_inner">
                            <div class="main_menu d-none d-lg-block"> 
                                <ul>
                                    <li class="active"><a routerLink="home" >Home</a></li>
                                    <!-- <li><a href="shop#">shop <i class="fa fa-angle-down"></i></a>
                                        <ul class="mega_menu">
                                            <li><a href="#">Shop Layouts</a>
                                                <ul>
                                                    <li><a href="shop-fullwidth#">Full Width</a></li>
                                                    <li><a href="shop-fullwidth-list#">Full Width list</a></li>
                                                    <li><a href="shop-right-sidebar#">Right Sidebar </a></li>
                                                    <li><a href="shop-right-sidebar-list#"> Right Sidebar list</a></li>
                                                    <li><a href="shop-list#">List View</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">other Pages</a>
                                                <ul>
                                                    <li><a href="portfolio#">portfolio</a></li>
                                                    <li><a href="portfolio-details#">portfolio details</a></li>
                                                    <li><a href="cart#">cart</a></li>
                                                    <li><a href="checkout#">Checkout</a></li>
                                                    <li><a href="my-account#">my account</a></li>
                                                    

                                                </ul>
                                            </li>
                                            <li><a href="#">Product Types</a>
                                                <ul>
                                                    <li><a href="product-details#">product details</a></li>
                                                    <li><a href="product-sidebar#">product sidebar</a></li>
                                                    <li><a href="product-gallery#">product gallery</a></li>
                                                    <li><a href="product-slider#">product slider</a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog#">blog <i class="fa fa-angle-down"></i></a>
                                        <ul class="mega_menu">
                                            <li><a href="#">Blog Layouts</a>
                                                <ul>

                                                    <li><a href="blog-details#">blog details</a></li>
                                                    <li><a href="blog-sidebar#">blog  Sidebar</a></li>
                                                    <li><a href="blog-fullwidth#">blog fullwidth</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">blog Pages</a>
                                                <ul>
                                                    <li><a href="#">Author</a></li>
                                                    <li><a href="blog-sidebar#">Category</a></li>
                                                    <li><a href="#">Blog tag</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Post Formats</a>
                                                <ul>
                                                    <li><a href="blog-sidebar#">blog sidebar</a></li>
                                                    <li><a href="blog-fullwidth#">blog fullwidth</a></li>
                                                    <li><a href="blog-sidebar#">Gallery Format</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li><a routerLink="/about" routerLinkActive="activebutton" 
                                        ariaCurrentWhenActive="page">About Us</a></li>
                                    <li><a routerLink="/contact" routerLinkActive="activebutton" 
                                        ariaCurrentWhenActive="page" >Contact Us</a></li>
                                </ul>

                            </div>
                            <div class="mobile-menu mobail_two d-lg-none">
                                <nav>  
                                    <ul>
                                    <li><a href="index#">Home</a>
                                        <ul>
                                            <li><a href="index#">Home 1</a></li>
                                            <li><a href="index-2#">Home 2</a></li>
                                            <li><a href="index-3#">Home 3</a></li>
                                            <li><a href="index-4#">Home 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop#">shop</a>
                                        <ul>
                                            <li><a href="#">Shop Layouts</a>
                                                <ul>
                                                    <li><a href="shop-fullwidth#">Full Width</a></li>
                                                    <li><a href="shop-fullwidth-list#">Full Width list</a></li>
                                                    <li><a href="shop-right-sidebar#">Right Sidebar </a></li>
                                                    <li><a href="shop-right-sidebar-list#"> Right Sidebar list</a></li>
                                                    <li><a href="shop-list#">List View</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">other Pages</a>
                                                <ul>
                                                    <li><a href="portfolio#">portfolio</a></li>
                                                    <li><a href="portfolio-details#">portfolio details</a></li>
                                                    <li><a href="cart#">cart</a></li>
                                                    <li><a href="checkout#">Checkout</a></li>
                                                    <li><a href="my-account#">my account</a></li>
                                                    

                                                </ul>
                                            </li>
                                            <li><a href="#">Product Types</a>
                                                <ul>
                                                    <li><a href="product-details#">product details</a></li>
                                                    <li><a href="product-sidebar#">product sidebar</a></li>
                                                    <li><a href="product-gallery#">product gallery</a></li>
                                                    <li><a href="product-slider#">product slider</a></li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog#">blog</a>
                                        <ul>
                                            <li><a href="#">Blog Layouts</a>
                                                <ul>

                                                    <li><a href="blog-details#">blog details</a></li>
                                                    <li><a href="blog-sidebar#">blog  Sidebar</a></li>
                                                    <li><a href="blog-fullwidth#">blog fullwidth</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">blog Pages</a>
                                                <ul>
                                                    <li><a href="#">Author</a></li>
                                                    <li><a href="blog-sidebar#">Category</a></li>
                                                    <li><a href="#">Blog tag</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Post Formats</a>
                                                <ul>
                                                    <li><a href="blog-sidebar#">blog sidebar</a></li>
                                                    <li><a href="blog-fullwidth#">blog fullwidth</a></li>
                                                    <li><a href="blog-sidebar#">Gallery Format</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about#">About Us</a></li>
                                    <li><a href="contact#">Contact Us</a></li>
                                </ul>
                                </nav>      
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
    <!--header area end-->
</body>    
<router-outlet></router-outlet>

<!--footer area start-->
<div class="footer_area footer_two">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-8">
                    <div class="single_footer">
                        <div class="footer_logo">
                            <a href="#"><img src="assets/img/logo/logo2.png" alt=""></a>
                        </div>
                        <div class="footer_desc">
                            <p>We are a team of designers and sellers that sell high quality watches and clocks Worldwide</p>
                        </div>
                        <div class="footer_contact">
                            <ul>
                                <li><i class="ion-location"></i> Ullenhall, Henley-in-Arden B578 5CC, England</li>
                                <li><i class="ion-ios-telephone"></i> +123.456.789 - +123.456.678/li>
                                <li><i class="ion-ios-email"></i> <a href="#">support.albertoclocks.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single_footer">
                        <h3>CUSTOMER SERVICE</h3>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Unsubscribe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single_footer">
                        <h3>Information</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Warranty</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-12">
                    <div class="tag_block">
                        <ul>
                            <li><a href="#">Online Shopping</a></li>
                            <li><a href="#">Promotions</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Most Populars</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Special Products</a></li>
                            <li><a href="#">Manufacturers</a></li>
                            <li><a href="#">Our Stores</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Payments</a></li>
                            <li><a href="#">Warantee</a></li>
                            <li><a href="#">Refunds</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Payments</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Refunds</a></li>
                        </ul>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                            <li><a href="#"><i class="ion-social-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_content">
                        <p>Copyright &copy; 2023, <a href="#">Cigar</a>. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-payment text-end">
                        <a href="#"><img src="assets/img/visha/payment.png" alt=""></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!--footer area end-->
